.team-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.team-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.team-name {
  color: white;
  font-size: clamp(1rem, 8vw, 3rem);
  text-align: center;
}
.team-header button:first-of-type {
  visibility: hidden;
}
.team-header button {
  background-color: transparent;
  border: none;
  text-align: end;
}
.team-header button span {
  color: white;
  text-decoration: underline;
  font-size: clamp(1rem, 2vw, 3rem);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.team-stats {
  background-color: crimson;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
}
.upper-team-stats {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.upper-team-stats div {
  background-color: white;
  aspect-ratio: 1/1;
}
.season-record {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 9vw, 10rem);
  font-weight: 500;
  padding: 0.5rem;
}
.season-standing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.season-standing :nth-child(1) {
  font-size: clamp(1rem, 7vw, 8rem);
}
.season-standing :nth-child(2) {
  color: gray;
  font-size: clamp(0.5rem, 2vw, 3rem);
  font-weight: 600;
}
.lower-team-stats {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.lower-team-stats div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}
.lower-team-stats div :first-child {
  font-size: clamp(1rem, 3vw, 8rem);
  font-weight: 500;
}
.lower-team-stats div :nth-child(2) {
  color: gray;
  font-size: clamp(0.8rem, 1.8vw, 3rem);
  font-weight: 600;
}

.team-accolades {
  background-color: crimson;
  display: flex;
  width: 100%;
  padding: 1.5rem;
  gap: 1.5rem;
}
.accolades-left,
.accolades-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.accolades-left {
  background-color: white;
  aspect-ratio: 1/1;
  padding: 1.5rem;
}
.accolades-left :first-child {
  font-size: clamp(1rem, 17vw, 100rem);
  font-weight: 600;
  line-height: 100%;
}
.accolades-left :nth-child(2) {
  font-size: clamp(1rem, 3.5vw, 2rem);
  font-weight: 600;
}
.accolades-right {
  gap: 1rem;
}
.cchampionships,
.division,
.playoffs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1rem;
}
.cchampionships,
.accolades-right-bottom {
  width: 100%;
  height: 50%;
}
.accolades-right-bottom {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.division,
.playoffs {
  height: 100%;
  width: 50%;
}
.cchampionships :first-child,
.division :first-child,
.playoffs :first-child {
  font-size: clamp(1rem, 10vw, 100rem);
  line-height: 100%;
  font-weight: 600;
}
.cchampionships :nth-child(2) {
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: 600;
  line-height: 1.2rem;
}
.division :nth-child(2),
.playoffs :nth-child(2) {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 600;
}

.team-players {
  display: flex;
  background-color: crimson;
  width: 100%;
  padding: 1.5rem;
}
.team-players ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.team-players ul li {
  background-color: white;
  color: black;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  width: 100%;
  padding: 1rem 1rem;
}
.team-players ul li img {
  background-color: lightgray;
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.player-name,
.player-points,
.player-assists,
.player-rebounds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.player-name :first-child {
  color: gray;
  font-size: clamp(0.5rem, 1.5vw, 100rem);
  padding-left: 1%;
}
.player-name :nth-child(2) {
  font-size: clamp(0.8rem, 2vw, 100rem);
}
.player-points,
.player-assists,
.player-rebounds {
  text-align: center;
}
.player-points :first-child,
.player-assists :first-child,
.player-rebounds :first-child {
  color: gray;
  font-size: clamp(0.5rem, 1.5vw, 100rem);
}
.player-points :nth-child(2),
.player-assists :nth-child(2),
.player-rebounds :nth-child(2) {
  font-size: clamp(0.8rem, 2vw, 100rem);
}

@media (min-width: 821px) {
  .team-page {
    overflow: hidden;
    padding: 2rem;
    height: 100vh;
  }
  @keyframes team-scale-out-hor-left {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes team-scale-out-hor-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .team-header {
    width: 90%;
  }
  .team-header button span {
    font-size: clamp(1rem, 1.2vw, 3rem);
  }
  .team-header button span:hover {
    cursor: pointer;
  }
  .team-name {
    font-size: clamp(1rem, 3vw, 20rem);
  }
  .container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 2fr) minmax(0, 1fr);
    grid-template-areas: 'stats accolades' 'players players';
    width: 90%;
    height: 90%;
    gap: 2rem;
  }
  .team-stats,
  .team-accolades {
    padding: 2rem;
  }

  .team-stats {
    grid-area: stats;
    justify-content: center;
  }
  .season-record {
    font-size: clamp(1rem, 4vw, 10rem);
  }
  .season-standing :nth-child(1) {
    font-size: clamp(1rem, 4vw, 10rem);
  }
  .season-standing :nth-child(2) {
    font-size: clamp(0.6rem, 0.75vw, 3rem);
  }
  .lower-team-stats div :first-child {
    font-size: clamp(0.8rem, 1vw, 8rem);
  }
  .lower-team-stats div :nth-child(2) {
    font-size: clamp(0.5rem, 1vw, 3rem);
  }

  .team-accolades {
    grid-area: accolades;
    height: unset;
  }
  .accolades-left :first-child {
    font-size: clamp(7rem, 9vw, 100rem);
  }
  .accolades-left :nth-child(2) {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
  }
  .cchampionships :first-child,
  .division :first-child,
  .playoffs :first-child {
    font-size: clamp(1rem, 4vw, 100rem);
  }
  .cchampionships :nth-child(2),
  .division :nth-child(2),
  .playoffs :nth-child(2) {
    font-size: clamp(0.8rem, 1vw, 2rem);
  }

  .team-players {
    grid-area: players;
    overflow: hidden;
  }
  .team-players ul {
    grid-template-columns: repeat(9, 1fr);
  }
  .team-players ul li {
    width: 20vw;
  }
  .player-points :first-child,
  .player-assists :first-child,
  .player-rebounds :first-child,
  .player-name :first-child {
    color: gray;
    font-size: clamp(0.5rem, 0.8vw, 100rem);
    padding-left: 1%;
  }

  .player-points :nth-child(2),
  .player-assists :nth-child(2),
  .player-rebounds :nth-child(2),
  .player-name :nth-child(2) {
    font-size: clamp(1rem, 1.2vw, 5rem);
  }
}
